{% extends "template.html" %}
{% block content %}

    <div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" onclick="location.href='/ticket/{{ ticket.id }}'" style="margin-top: 20px; cursor:pointer;">
                <h2>{{ ticket.title }} | {{ ticket.client_name }}, {{ ticket.company_name }}</h2>
                <blockquote class="blockquote">
                    <p class="mb-0">{{ ticket.description }}</p>
                    <footer class="blockquote-footer">{{ ticket.last_update }}</footer>
                </blockquote>
                <p>{{ ticket.staus }}</p>
            </div>
            <div class="col-md-12" onclick="location.href='/ticket/{{ ticket.id }}'" style="margin-top: 20px; cursor:pointer;">
                <h2>{{ ticket.title }} | {{ ticket.client_name }}, {{ ticket.company_name }}</h2>
                <blockquote class="blockquote">
                    <p class="mb-0">{{ ticket.description }}</p>
                    <footer class="blockquote-footer">{{ ticket.last_update }}</footer>
                </blockquote>
                <p>{{ ticket.staus }}</p>
            </div>
            <div class="col-md-12" onclick="location.href='/ticket/{{ ticket.id }}'" style="margin-top: 20px; cursor:pointer;">
                <h2>{{ ticket.title }} | {{ ticket.client_name }}, {{ ticket.company_name }}</h2>
                <blockquote class="blockquote">
                    <p class="mb-0">{{ ticket.description }}</p>
                    <footer class="blockquote-footer">{{ ticket.last_update }}</footer>
                </blockquote>
                <p>{{ ticket.staus }}</p>
            </div>
            <div class="col-md-12" onclick="location.href='/ticket/{{ ticket.id }}'" style="margin-top: 20px; cursor:pointer;">
                <h2>{{ ticket.title }} | {{ ticket.client_name }}, {{ ticket.company_name }}</h2>
                <blockquote class="blockquote">
                    <p class="mb-0">{{ ticket.description }}</p>
                    <footer class="blockquote-footer">{{ ticket.last_update }}</footer>
                </blockquote>
                <p>{{ ticket.staus }}</p>
            </div>
            <div class="col-md-12" onclick="location.href='/ticket/{{ ticket.id }}'" style="margin-top: 20px; cursor:pointer;">
                <h2>{{ ticket.title }} | {{ ticket.client_name }}, {{ ticket.company_name }}</h2>
                <blockquote class="blockquote">
                    <p class="mb-0">{{ ticket.description }}</p>
                    <footer class="blockquote-footer">{{ ticket.last_update }}</footer>
                </blockquote>
                <p>{{ ticket.staus }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}