<!DOCTYPE html>
<html style="background-color: #f0f0f0;">

<head>
    <title>TicketFresh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--Manifest & Metadata Heading information-->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="TicketFresh">
    <meta name="apple-mobile-web-app-title" content="TicketFresh">
    <meta name="theme-color" content="#141414">
    <meta name="msapplication-navbutton-color" content="#141414">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    
    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="72x72" href="{{ url_for('static', filename='img/icons/icon-72x72.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{ url_for('static', filename='img/icons/icon-72x72.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/icons/icon-96x96.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/icons/icon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ url_for('static', filename='img/icons/icon-128x128.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="{{ url_for('static', filename='img/icons/icon-128x128.png') }}">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ url_for('static', filename='img/icons/icon-144x144.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{ url_for('static', filename='img/icons/icon-144x144.png') }}">
    <link rel="icon" type="image/png" sizes="152x152" href="{{ url_for('static', filename='img/icons/icon-152x152.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{ url_for('static', filename='img/icons/icon-152x152.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/icons/icon-192x192.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/icons/icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="384x384" href="{{ url_for('static', filename='img/icons/icon-384x384.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="384x384" href="{{ url_for('static', filename='img/icons/icon-384x384.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/icons/icon-512x512.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/icons/icon-512x512.png') }}"> 
    
    <!--Share Settings-->
    <meta name="twitter:title" content="TicketFresh">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/img/Ticket%20Fresh%20OG.png">
    <meta name="twitter:image" content="/static/img/Ticket%20Fresh%20OG.png">
    
    <!--CSS Sheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sidebar-Menu-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sidebar-Menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    
    <!-- Service worker registering (Commented out for time being while working on other things)
    
    <script src="{{ url_for('static', filename='app.js') }}"></script> -->
    </head>


    
    
    <!-- Sidebar Navigation -->
    <body style="background-color: #141414;color: #141414;">
        <div id="wrapper">
            <div id="sidebar-wrapper" style="background-color: #f0f0f0;color: #f0f0f0;">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"> <a class="text-dark" href="/">{{ company.name }}</a></li>
                    <li> <a class="text-dark" href="#">{{ user.status }}</a><a class="text-dark" href="/dashboard">Dashboard </a></li>
                    <li> <a class="text-dark" href="/tickets/all">Tickets</a></li>
                    <li> <a class="text-dark" href="/settings">Account Settings</a><a class="text-dark" href="//ticketfresh.gitbook.io" target="_blank">Help/Documentation</a><a class="text-dark" href="#">Search</a></li>
                </ul>
            </div>
            <div class="page-content-wrapper">
                <div class="container-fluid"><a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars" style="color: #f0f0f0;"></i></a>
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup>
                                <h1><a class="text-light" href="/">TicketFresh</a></h1>
                                <h3 class="text-light" style="padding: 8px;">{{ user.first_name }} {{user.last_name }} | {% block title %} {% endblock %}<br></h3>
                            </hgroup>
                        </div>
                    
    <!-- Page Content-->

    <div class="col" id="body_content" style="background-color: #f0f0f0;">
        {% block content %}
        {% endblock %}
    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--JavaScript Script(s) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/Sidebar-Menu.js') }}"></script>
        
</body>
</html>